.Background {
  background-color: rgba(0, 118, 252, 0.466);
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  box-shadow: -1px 3px 10px rgb(0, 0, 0);
}

.Border {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: azure;
}

h1 {
  font-size: 30px;
  color: azure;
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

button {
  border-radius: 100%;
}
